.container {
  background-color: var(--fm-color-yellow);
  display: flex;
  justify-content: center;
.card {
  background-color: var(--fm-color-white);
  color: var(--fm-color-gray-950);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  position: relative;
  width: 384px;
}

.imageContainer {
  aspect-ratio: 336/201;
  position: relative;
}

.image {
  object-fit: contain;
  border-radius: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.author {
  display: flex;
}
