.container {
  background-color: var(--fm-color-yellow);
  display: flex;
  justify-content: center;
}

.card {
  background-color: var(--fm-color-white);
  border: 1px solid var(--fm-color-gray-950);
  border-radius: 1.25rem;
  box-shadow: 8px 8px 0 0 var(--fm-color-black);
  color: var(--fm-color-gray-950);
  display: flex;
  flex-direction: column;
  height: var(--fm-fluid-501-522);
  padding: 1.5rem;
  position: relative;
  width: 384px;
}

.imageContainer {
  aspect-ratio: 336/201;
  position: relative;
}

.image {
  object-fit: contain;
  border-radius: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.articleTag {
  background-color: var(--fm-color-yellow);
  border-radius: .25rem;
  font-weight: var(--fm-font-weight-extra-bold);
  padding: .25rem .75rem;
  width: fit-content;
}

.articleDate {
  font-size: var(--fm-fluid-12-14);
}

.articleTitle {
  font-size: var(--fm-fluid-20-24);
}

.articleDescription {
  font-size: var(--fm-fluid-14-16);
}

.articleTitle:focus-visible,
.articleTitle:hover {
  color: var(--fm-color-yellow);
}

.articleTitle:focus-visible {
  outline: 2px solid var(--fm-color-gray-950);
  outline-offset: 4px;
}

.author {
  display: flex;
}

.avatarContainer {
  aspect-ratio: 32/32;
  position: relative;
}

.avatar {
  object-fit: contain;
}
