@import "tailwindcss";

:root {
  /* Colors */
  --fm-color-yellow: hsl(47, 88%, 63%);
  --fm-color-gray-950: hsl(0, 0%, 7%);
  --fm-color-gray-500: hsl(0, 0%, 42%);
  --fm-color-white: hsl(0, 0%, 100%);
  --fm-color-black: hsl(0, 0%, 0%, 1);

  /* Typography */
  --fm-font-size-large: 1.5rem;
  --fm-font-size-medium: 1rem;
  --fm-font-size-small: .875rem;
  --fm-font-weight-extra-bold: 800;
  --fm-font-weight-medium: 500;
  --fm-line-height-150: 150%;
  --fm-letter-spacing-0: 0;

  /* Fluid Sizes with https://utopia.fyi/clamp/calculator */
  --fm-fluid-12-14: clamp(0.75rem, 0.6989rem + 0.2273vw, 0.875rem);
  --fm-fluid-14-16: clamp(0.875rem, 0.831rem + 0.1878vw, 1rem);
  --fm-fluid-20-24: clamp(1.25rem, 1.162rem + 0.3756vw, 1.5rem);
  --fm-fluid-501-522: clamp(31.3125rem, 30.8504rem + 1.9718vw, 32.625rem);

  /* Spacing */
  --fm-spacing-50: .25rem;
  --fm-spacing-100: .5rem;
  --fm-spacing-150: .75rem;
  --fm-spacing-300: 1.5rem;

  /* Styles */
  box-sizing: border-box;
  color: var(--fm-color-gray-950);
  letter-spacing: var(--fm-letter-spacing-0);
  line-height: var(--fm-line-height-150);
}